:root {
  --cor-primária: #fb0;
  --cor-secundária-escura: #000;
  --cor-constraste-claro: #fff;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}