/* Reseta os estilos pré-definidos */

body {
  margin: 0;
  padding-bottom: 500px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

h1, h2, h3, p {
  margin: 0;
}