.intro-bg {
  background-color: var(--cor-secundaria-escura);
  color:aliceblue;
  /* O insert cria uma sombra interna */
  box-shadow: inset 0 -120px 0 #fff;
}

.intro-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.intro-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.intro-conteudo h1 {
  font-size: 4rem;
  line-height: 1.125;
}

.intro-conteudo p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--cor-fonte-texto1);
  margin-top: 32px;
  margin-bottom: 20px;
  max-width: 470px;
}

@media (max-width: 1200px) {
  .intro-conteudo h1{
    font-size: 3rem;
  }

  .intro-conteudo p {
    font-size: 1.125rem;
  }
}

@media (max-width: 800px) {
  .intro-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-top: 32px;
    background-color: var(--cor-secundaria-escura2);
    box-shadow: inset 0 -60px 0 #fff;
  }

  .intro-conteudo {
    padding-bottom: 0;
  }

  .intro-conteudo h1{
    font-size: 2rem;
  }

  .intro-img img{
    height: 300px;
    width: 100%;
  }

  .intro-conteudo p {
    font-size: 1.125rem;
    margin-top: 1rem;
  }
}