.bicicleta-bg {
  padding: 120px 0;
}

.bicicleta-lista > li:nth-child(even){
  margin: 60px 0;
  padding: 60px 0;
  background-color: var(--cor-c12);
  box-shadow: inset 550px 0 0 var(--cor-c0);
}

.bicicleta-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.375rem;
}

.bicicleta-conteudo {
  position: relative;
}

.bicicleta-conteudo h2::before{
  content: '';
  width: 12px;
  height: 8px;
  display: block;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicleta-conteudo p {
  margin: 20px 0 32px 0;
  max-width: 46ch;
}

.bicicleta-conteudo ul li + li{
  margin-top: 16px;
}

.bicicleta-conteudo ul li{
  display: flex;
  gap: 8px;
  align-items: center;
}

.bicicleta-conteudo ul li img{
  width: 24px;
  height: 24px;
}

.bicicleta-conteudo a {
  position: absolute;
  right: 0;
  bottom: 0;
}