.chamada-bg {
  background-color: var(--cor-c11);
  box-shadow: inset 0 120px 0 var(--cor-c0), inset 0 -120px 0 var(--cor-c12);
}

/* Layout */
.chamada-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  max-width: 1400px;
  padding: 0 20px;
  align-items: center;
}

.chamada-imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chamada-imagem img{
  object-position: center right;
}

.chamada-texto {
  padding: 180px 0;
  
}

.chamada-texto h2{
  margin-bottom: 32px;
}

.chamada-texto p{
  margin-bottom: 24px;
  max-width: 550px;
}

/* fim */

@media (max-width: 800px) {
  .chamada-bg {
    background-color: var(--cor-c11);
    box-shadow: inset 0 120px 0 var(--cor-c0);
  }
  .chamada-conteudo {
    grid-template-columns: 1fr;
  }

  .chamada-imagem img{
    height: 300px;
    width: 100%;
  }

  .chamada-texto {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    padding-bottom: 60px;
    max-width: 100%;
  }

  .chamada-texto h2{
    margin-bottom: 20px;
  }
  
  .chamada-texto p{
    margin-bottom: 32px;
  }

  .chamada-texto a{
    justify-self: center;
  }
}