.especificacoes-bg {
  background-color: var(--cor-c11);
}

/* **Organiza o layout geral */

.especificacoes-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

/* **organiza o layout da galeria */

.especificacoes-galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  height: fit-content;
}

.especificacoes-galeria li:first-child{
  grid-column: span 2;
}