.especificacoes-bg {
  background-color: var(--cor-c11);
}

/* **Organiza o layout geral */

.especificacoes-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

/* **organiza o layout da galeria */

.especificacoes-galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  height: fit-content;
}

.especificacoes-galeria li:first-child{
  grid-column: span 2;
}

/* **Organiza o layout geral dos detalhes */

.especificacoes-detalhes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.especificacoes-descricao {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 2rem .75rem;
}

.especificacoes-descricao p{
  grid-column: span 2;
}

.especificacoes-descricao li:nth-child(2){
  margin-top: .5rem;
}