/* Define estilos que serão reaproveitados em todo o site */

/* Dimenções do container */

.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 1.25rem;
  margin: 0 auto;
}

/* Imagens */

img[src$=".jpg"] {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  /* object-position: top right; */
}

/* Botões */

.botao {
  font: 600 1.125rem/1.33 "Poppins", sans-serif;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: var(--cor-bg-botao);
  color: var(--cor-fonte-botao);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.botao:hover {
  background: var(--cor-bg-botao-hover);
}

@media (max-width: 600px) {
  .botao {
    font-size: 1rem;
    margin-top: 1rem;
    padding: .75rem 1rem;
  }
}

/* Link */

.link{
  display: inline-block;
  margin-bottom: 5rem;
  color: var(--cor-p1);
  text-transform: uppercase;
  font: 400 1.5rem/1.5 "Poppins", sans-serif;
  width: max-content;
}

.link::after{
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-c0);
}

@media (max-width: 800px) {
  .link {
    font-size: 1.25rem;
  }

  .link::after{
    height: 3px;
  }
}