.contato-bg {
  background-color: var(--cor-c11);
  box-shadow: inset 0 -200px 0 var(--cor-c1)
}

.contato-lista {
  background-color: var(--cor-c12);
  padding: 60px 0 40px 60px;
}

.formulario {
  background-color: var(--cor-c0);
  padding: 60px 40px 40px 60px;
}

.contato-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contato-lista h2 {
  margin-bottom: 60px;
}

.contato-email {
  margin: 32px 0;
}

.contato-redes {
  margin-top: 60px;
}

/* **Insere os icones da lista */

.contato-lista-conteudo > li::before {
  content: '';
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../../img/icones/local.svg);
}

.contato-lista-conteudo > li {
  display: flex;
  gap: 8px;
}

.contato-lista-conteudo > li:nth-child(2)::before {
  margin-top: 32px;
  background-image: url(../../img/icones/email.svg);
}

.contato-lista-conteudo > li:nth-child(3)::before {
  background-image: url(../../img/icones/telefone.svg);
}

.contato-lista-conteudo > li:last-child::before {
  display: none;
}