#contatos {
  background-color: var(--cor-c1);
}

.lojas-bg {
  margin-bottom: 7.5rem;
}

.lojas-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  margin-top: 60px;
}

.loja-mapa {
  border-radius: 5px 5px 0 0;
}

.loja-informacoes {
  background-color: var(--cor-c0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 60px;
  padding: 0 20px 32px 36px;
  border-radius: 0 0 5px 5px;
}

.loja-informacoes h3 {
  padding: 32px 0 0px 0px;
  grid-column: span 2;
  display: flex;
  align-items: center;
}

/* **Posiciona o icone do título */

#contatos .icone::before {
  margin-right: 12px;
  margin-left: 4px;
}

/* **Define o posicionamento do separador */

.loja-contato, .loja-informacoes p {
  padding-left: 12px;
  border-left: 2px solid var(--cor-c2);
  margin-left: 28px;
}

.loja-contato {
  margin-left: 0;
}

.loja-informacoes p:last-child {
  border: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  align-items: center;
  grid-column: span 2;
}

/* **Define o espaçamento entre os elementos */

.loja-contato li {
  margin: 4px 0;
}

.loja-span {
  display: inline-block;
  margin: 4px 0;
}

.loja-span:first-child {
  margin-bottom: 0;
}

.loja-informacoes p:last-child::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../../img/icones/horario.svg);
  display: inline-block;
  margin-right: 8px;
}

.lojas-localizacao {
  box-shadow: 1px 1px 4px 0px var(--cor-c2);
}