.lista-home {
  margin: 60px auto;
  margin-bottom: 120px;
}

.lista-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1600px;
  margin: 40px auto;
  margin-bottom: 0;
  padding: 0 70px;
}

.titulo-produtos {
  max-width: 1200px;
  box-sizing: border-box;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.lista-item {
  justify-self: center;
}

.lista-item h3 {
  margin: 1rem 0 .5rem 1.25rem;
  position: relative;
}

.lista-item h3::before {
  content: '';
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  left: -20px;
  top: 15px;
}

.lista-item p {
  margin-left: 1.25rem;
}