.parceiros-bg {
  padding-top: 60px;
  padding-bottom: 120px;
  
  margin: 0 auto;
}

.lista-parceiros {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  margin-top: 60px;
  padding: 60px 20px 0 20px;
}

.lista-parceiros li {
  padding: 2rem;
  display: flex;
  max-width: 100%;
  border: 1px solid crimson;
  
}

.lista-parceiros li img{
  margin: auto;
}