.perguntas-bg {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.perguntas-conteudo {
  margin-top: 72px;
}

/* Cria lista zebrada */
.perguntas-conteudo div:nth-child(odd) {
  background-color: var(--cor-c1);
}

/* fim */

.perguntas-conteudo div {
  padding: 1.25rem;
  border-radius: 5px;
}

/* Cria e posiciona a marcação de lista */
.perguntas-conteudo div button::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
}

/* Posiciona o before e o after em relação a pergunta */
.perguntas-conteudo div button {
  border: none;
  background: none;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: .5rem;
  text-align: left;
  cursor: pointer;
}
/* fim */

/* Insere a seta de abertura/fechamento */
.perguntas-conteudo div button::after {
  content: '';
  display: inline-block;
  width: 14px;
  height: 6px;
  background-image: url(../../img/icones/seta-abrir.svg);
  transition: .3s;
}

/* Efeito de movimento da seta */
.perguntas-conteudo button[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}
/* fim */

.perguntas-conteudo div dd{
  max-width: 80ch;
  margin: 1.25rem;
  display: none;
}

.perguntas-conteudo div .ativa{
  display: block;
}

@media (max-width: 800px) {
  .perguntas-bg {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  
  .perguntas-conteudo {
    margin-top: 2.5rem;
  }
}