.vantagens-bg {
  background-color: var(--cor-c12);
}

.vantagens-bg h2{
  padding-top: 120px;
}

.vantagens-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 80px;
  padding-top: 72px;
  padding-bottom: 120px;
}

.vantagens-lista h3{
  margin-bottom: 8px;
}

/* Insere os icones dos itens da lista */

.before-vantagens1::before, .before-vantagens2::before, .before-vantagens3::before, .before-vantagens4::before, .before-vantagens5::before, .before-vantagens6::before {
  content: '';
  width: 32px;
  height: 32px;
  display: block;
  background-image: url(../../img/icones/eletrica\ 3.svg);
  margin-bottom: 8px;
}

.before-vantagens2::before {
  background-image: url(../../img/icones/carbono\ 2.svg);
}

.before-vantagens3::before {
  background-image: url(../../img/icones/sustentavel\ 3.svg);
}

.before-vantagens4::before {
  background-image: url(../../img/icones/rastreador\ 2.svg);
}

.before-vantagens5::before {
  background-image: url(../../img/icones/seguro\ 2.svg);
}

.before-vantagens6::before {
  background-image: url(../../img/icones/velocidade\ 2.svg);
}

/* fim */