/* **layout do menu e estilo das labels*/

.orcamento-opcoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 1.25rem;
  position: relative;
}

.orcamento-opcoes > * {
  grid-column: 1/-1;
}

.orcamento-opcoes > label {
  display: inline-block;
  grid-column: initial;
  padding: .75rem 1rem;
  background-color: var(--cor-c10);
  border-radius: .3125rem;
  cursor: pointer;
}

/* **Layout e estilo dos inputs */

.orcamento input {
  opacity: 0; /*Tira a opacidade sumindo visualmente com o input da tela, porem continua lá de forma funcional*/
  position: absolute;
  pointer-events: none; /*Não deixa que o cursor detecte o input na tela*/        
  
}

/* **Efeito flutuante das labels do menu "BIKCRAFT OU SEGURO"*/

#orcamento-bikcraft, #orcamento-seguro {
  display: none;
  transition: 0.2s;
}

[value="bikcraft"]:checked ~ #orcamento-bikcraft, [value="seguro"]:checked ~ #orcamento-seguro, [value="bikcraft"]:focus ~ #orcamento-bikcraft, [value="seguro"]:focus ~ #orcamento-seguro {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
}

/* **Layout da label de "ESCOLHA A SUA (BICKRAFT) */

.label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
  padding: 16px 16px 16px 20px;
  align-items: center;
}

.label-conteudo ul li {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.label p {
  justify-self: end;
  display: none;
}

.label-conteudo {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1rem;
  padding: 0 1rem 1.25rem 2.5rem;
}

.orcamento-conteudo label {
  background-color: var(--cor-c10);
  cursor: pointer;
  border-radius: 5px;
}

.label-conteudo ul li + li{
  margin-top: .25rem;
}

.label-conteudo ul li{
  font-weight: 400;
}

.label-conteudo div img{
  height: max-content;
}

/* **Efeito flutuante das labels "ESCOLHA A SUA (BICKRAFT)"*/

#conteudo-nimbus, #conteudo-magic, #conteudo-nebula {
  display: none;
  transition: 0.2s;
}

input:checked + label, input:checked + label h3, input:focus + label, input:focus + label h3 {
  background-color: var(--cor-c0);
  color: var(--cor-c11);
}

input:checked + label #conteudo-nimbus, input:checked + label #conteudo-magic, input:checked + label #conteudo-nebula,input:checked + label div p {
  display: block;
}