/* **Layout de dados */

#orcamento .formulario {
  grid-template-columns: 1fr;
  gap: 3.75rem;
}

.orcamento-dados, .orcamento-entrega {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  position: relative;
}

.input-termos {
  display: flex;
  gap: .75rem;
  align-items: center;
}

/* **Insere o icone dos títulos*/

 .orcamento h2::before, .orcamento-dados h2::before, .orcamento-entrega h2::before {
  content: '';
  width: .25rem;
  height: .5rem;
  display: inline-block;
  background-color: var(--cor-p1);
  position: absolute;
  left: -12px;
}

.orcamento h2, .orcamento-dados h2, .orcamento-entrega h2 {
  display: flex;
  align-items: center;
  gap: .5rem;
  text-transform: uppercase;
  margin: 0;
}

/* **Estiliza o input e label */

.input-termos input {
  width: 2rem;
  height: 2rem;
}

.input-termos em {
  text-decoration: underline;
  font: 400 1rem/1.5 "Poppins", sans-serif;
}

/* **layout da parte de opções de orçamento do formulário */

.orcamento, .orcamento-conteudo {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  position: relative;
}

.orcamento-opcoes > label {
  display: inline-block;
  padding: 1rem 2.5rem;
  background-color: var(--cor-c10);
  border-radius: .3125rem;
}

/* **Layout da label de produtos */

.label {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  gap: .5rem;
  padding: 16px 16px 0 20px;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.label-conteudo ul li {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.label input {
  margin: 0;
}

.label p {
  justify-self: end;
}

.label-conteudo {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 1rem;
  padding: 1rem 1rem 1.25rem 2.5rem;
  border-radius: 0 0 5px 5px;
}

.label, .label-conteudo {
  background-color: var(--cor-c0);
}

.label-conteudo ul li + li{
  margin-top: .25rem;
}

.label-conteudo ul li{
  font-weight: 400;
}

.label-conteudo div img{
  height: max-content;
}